[submodule "packages/bez2018model"]
	path = packages/bez2018model
	url = git@github.com:msaddler/bez2018model.git
[submodule "packages/msutil"]
	path = packages/msutil
	url = git@github.com:msaddler/msutil.git
